In [ ]:
#for <elemento> in <iterable>:
#  <tu codigo>

for w in "1,2,3,4":
  print(w)

1
,
2
,
3
,
4

In [ ]:
for w in "Cristhyan":
  print(w)

C
r
i
s
t
h
y
a
n

funcion range o estados(start, stop, step): 

cuando solo se pasa 1 parametro a la funcion Range por default(stop), el stop siempre sera obligatorio

In [ ]:
for i in range (11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

cuando solo quiero arrncar desde una posicion y acabar en otra

In [ ]:
for i in range (3,11):
  print(i)

3
4
5
6
7
8
9
10

cuando solo se pasa 1 parametro a la funcion Range por default (stop)

In [ ]:
for i in range (0,11,2):
  print(i)

0
2
4
6
8
10

Crear un bucle que cuente todos los números pares hasta
el 100 ciclo for

In [ ]:
for i in range (0,100,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

Haz una tabla de multiplicar utilizando el ciclo for
ciclo for

In [ ]:
num = int(input("Digite el número de la tyabla de multiplicar: "))
for i in range(11):
  print(i, " x ", num , " = ", i * num)

Digite el número de la tyabla de multiplicar: 2
0  x  2  =  0
1  x  2  =  2
2  x  2  =  4
3  x  2  =  6
4  x  2  =  8
5  x  2  =  10
6  x  2  =  12
7  x  2  =  14
8  x  2  =  16
9  x  2  =  18
10  x  2  =  20

Escribir un programa que pregunte al usuario su edad y
muestre por pantalla todos los años que ha cumplido
(desde 1 hasta su edad). ciclo for

In [6]:
edad = int(input("Por favor digite su edad "))

for i in range(1,edad,1):
  print(i)

Por favor digite su edad 32
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31

Escribir un programa que pida al usuario un número entero
positivo y muestre por pantalla todos los números
impares desde 1 hasta ese número separados por comas.

In [34]:
acu = 1

num = int(input("Digite un numero entero positivo "))

for i in range(1, num, 2):
  acu = acu + 2
  print(f"Los números impares del 1 al {num} son = {acu}")

Digite un numero entero positivo 4
Los números impares del 1 al 4 son = 3
Los números impares del 1 al 4 son = 5

Encuentra la suma de todos los números pares del 1 al
100 ciclo for

In [35]:
# variable que acumula
acu = 0

for i in range(0,100,2):
  # print(i)
  acu = acu + i
  print(f"El total de la suma de los números pares del 0-10= {acu}")

El total de la suma de los números pares del 0-10= 0
El total de la suma de los números pares del 0-10= 2
El total de la suma de los números pares del 0-10= 6
El total de la suma de los números pares del 0-10= 12
El total de la suma de los números pares del 0-10= 20
El total de la suma de los números pares del 0-10= 30
El total de la suma de los números pares del 0-10= 42
El total de la suma de los números pares del 0-10= 56
El total de la suma de los números pares del 0-10= 72
El total de la suma de los números pares del 0-10= 90
El total de la suma de los números pares del 0-10= 110
El total de la suma de los números pares del 0-10= 132
El total de la suma de los números pares del 0-10= 156
El total de la suma de los números pares del 0-10= 182
El total de la suma de los números pares del 0-10= 210
El total de la suma de los números pares del 0-10= 240
El total de la suma de los números pares del 0-10= 272
El total de la suma de los números pares del 0-10= 306
El total de la suma de los números pares del 0-10= 342
El total de la suma de los números pares del 0-10= 380
El total de la suma de los números pares del 0-10= 420
El total de la suma de los números pares del 0-10= 462
El total de la suma de los números pares del 0-10= 506
El total de la suma de los números pares del 0-10= 552
El total de la suma de los números pares del 0-10= 600
El total de la suma de los números pares del 0-10= 650
El total de la suma de los números pares del 0-10= 702
El total de la suma de los números pares del 0-10= 756
El total de la suma de los números pares del 0-10= 812
El total de la suma de los números pares del 0-10= 870
El total de la suma de los números pares del 0-10= 930
El total de la suma de los números pares del 0-10= 992
El total de la suma de los números pares del 0-10= 1056
El total de la suma de los números pares del 0-10= 1122
El total de la suma de los números pares del 0-10= 1190
El total de la suma de los números pares del 0-10= 1260
El total de la suma de los números pares del 0-10= 1332
El total de la suma de los números pares del 0-10= 1406
El total de la suma de los números pares del 0-10= 1482
El total de la suma de los números pares del 0-10= 1560
El total de la suma de los números pares del 0-10= 1640
El total de la suma de los números pares del 0-10= 1722
El total de la suma de los números pares del 0-10= 1806
El total de la suma de los números pares del 0-10= 1892
El total de la suma de los números pares del 0-10= 1980
El total de la suma de los números pares del 0-10= 2070
El total de la suma de los números pares del 0-10= 2162
El total de la suma de los números pares del 0-10= 2256
El total de la suma de los números pares del 0-10= 2352
El total de la suma de los números pares del 0-10= 2450